@font-face {
    font-family: BZiba;
    src: url('Font/BSeries/BZiba.ttf') format('truetype');
}

@font-face {
    font-family: BZar;
    src: url('Font/BSeries/BZar.ttf') format('truetype');
}

@font-face {
    font-family: BYekan;
    src: url('Font/BSeries/BYekan.ttf') format('truetype');
}

@font-face {
    font-family: BYas;
    src: url('Font/BSeries/BYas.ttf') format('truetype');
}

@font-face {
    font-family: BYagut;
    src: url('Font/BSeries/BYagut.ttf') format('truetype');
}

@font-face {
    font-family: BVahidBold;
    src: url('Font/BSeries/BVahidBold.ttf') format('truetype');
}

@font-face {
    font-family: BTraffic;
    src: url('Font/BSeries/BTraffic.ttf') format('truetype');
}

@font-face {
    font-family: BFarnaz;
    src: url('Font/BSeries/BFarnaz.ttf') format('truetype');
}

@font-face {
    font-family: BFerdosi;
    src: url('Font/BSeries/BFerdosi.ttf') format('truetype');
}

@font-face {
    font-family: BHamid;
    src: url('Font/BSeries/BHamid.ttf') format('truetype');
}

@font-face {
    font-family: BHelal;
    src: url('Font/BSeries/BHelal.ttf') format('truetype');
}

@font-face {
    font-family: BHoma;
    src: url('Font/BSeries/BHoma.ttf') format('truetype');
}

@font-face {
    font-family: BJadidBold;
    src: url('Font/BSeries/BJadidBold.ttf') format('truetype');
}

@font-face {
    font-family: BJalal;
    src: url('Font/BSeries/BJalal.ttf') format('truetype');
}

@font-face {
    font-family: BKoodakBold;
    src: url('Font/BSeries/BKoodakBold.ttf') format('truetype');
}

@font-face {
    font-family: BKourosh;
    src: url('Font/BSeries/BKourosh.ttf') format('truetype');
}

@font-face {
    font-family: BLotus;
    src: url('Font/BSeries/BLotus.ttf') format('truetype');
}

@font-face {
    font-family: BMahsa;
    src: url('Font/BSeries/BMahsa.ttf') format('truetype');
}

@font-face {
    font-family: BMehrBold;
    src: url('Font/BSeries/BMehrBold.ttf') format('truetype');
}

@font-face {
    font-family: BMitra;
    src: url('Font/BSeries/BMitra.ttf') format('truetype');
}

@font-face {
    font-family: BMorvarid;
    src: url('Font/BSeries/BMorvarid.ttf') format('truetype');
}

@font-face {
    font-family: BNarm;
    src: url('Font/BSeries/BNarm.ttf') format('truetype');
}

@font-face {
    font-family: BNasimBold;
    src: url('Font/BSeries/BNasimBold.ttf') format('truetype');
}

@font-face {
    font-family: BNazanin;
    src: url('Font/BSeries/BNazanin.ttf') format('truetype');
}

@font-face {
    font-family: BRoya;
    src: url('Font/BSeries/BRoya.ttf') format('truetype');
}

@font-face {
    font-family: BSetarehBold;
    src: url('Font/BSeries/BSetarehBold.ttf') format('truetype');
}

@font-face {
    font-family: BShiraz;
    src: url('Font/BSeries/BShiraz.ttf') format('truetype');
}

@font-face {
    font-family: BTitrTGEBold;
    src: url('Font/BSeries/BTitrTGEBold.ttf') format('truetype');
}
@font-face {
    font-family: BTitrBold;
    src: url('Font/BSeries/BTitrBold.ttf') format('truetype');
}

@font-face {
    font-family: BTehran;
    src: url('Font/BSeries/BTehran.ttf') format('truetype');
}

@font-face {
    font-family: BTabassom;
    src: url('Font/BSeries/BTabassom.ttf') format('truetype');
}

@font-face {
    font-family: BSinaBold;
    src: url('Font/BSeries/BSinaBold.ttf') format('truetype');
}
