@model ShoppingCMS_V002.Models.D_APIModels.tbl_Customer_Main
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Master/Design_Master.cshtml";
}




<div class="content-area">

    <!-- PAGE -->
    <section class="page-section color">
        <div class="container">
            <div class="row">
                <div id="Log" class="col-sm-6">
                    <h3 class="block-title"><span>ورود به حساب کاربری</span></h3>
                    <div>
                        <div class="row">
                            <div class="col-md-12 hello-text-wrap">
                                <span class="hello-text text-thin">سلام ، به حساب کاربری خود خوش آمديد.</span>
                            </div>
                            <div class="col-md-12">

                                <div class="form-group">
                                    <input id="CMobile1" class="form-control" type="text" placeholder="شماره موبایل" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="CPass11" class="form-control" type="password" placeholder="رمز عبور" />
                                </div>
                            </div>


                            <div class="col-md-6">
                                <button class="btn btn-theme btn-block btn-theme-dark" onclick="return login()">ورود</button>

                            </div>

                        </div>

                    </div>
                </div>
                <div id="NewAcc" style="display:none" class="col-sm-6">
                    <h3 class="block-title"><span> حساب کاربری جدید</span></h3>
                    <div class="row">
                        <div class="col-md-12 hello-text-wrap">
                            <span class="hello-text text-thin">سلام ، به حساب کاربری خود خوش آمديد.</span>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <input id="CMobile" class="form-control" type="text" placeholder="شماره موبایل" />

                            </div>

                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <input id="CPass1" class="form-control" type="password" placeholder="رمز عبور" />

                            </div>

                        </div>

                        <div class="col-md-12">

                            <div class="form-group">
                                <input id="CPass2" class="form-control" type="password" placeholder="رمز عبور را دوباره وارد کنید" />

                            </div>

                        </div>
                        <div class="col-md-12 col-lg-6">

                        </div>
                        <div class="col-md-6">
                            <button id="SendCodeBtn" onclick="SendCode()" class="btn btn-theme btn-block btn-theme-dark">ارسال کد</button>

                        </div>

                    </div>


                </div>
                <div id="CodeDiv" style="display:none" class="col-sm-6">
                    <h3 class="block-title"><span>کد تائید</span></h3>
                    <div class="row">
                        <div class="col-md-12 hello-text-wrap">
                            <span class="hello-text text-thin">لطفا کد ارسال شده را وارد کنید.</span>
                        </div>
                        <div style="display:none" id="Id_UUU"></div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <input id="C_Token" class="form-control" type="text" placeholder="کد" />

                            </div>

                        </div>

                        <div class="col-md-12 col-lg-6">

                        </div>
                        <div class="col-md-6">
                            <button onclick="CheckCode()" class="btn btn-theme btn-block btn-theme-dark">تائید</button>

                        </div>

                    </div>


                </div>
                <div class="col-sm-6">
                    <h3 class="block-title"><span>ایجاد حساب کاربری</span></h3>
                    <form action="#" class="create-account">
                        <div class="row">

                            <div class="col-md-12">
                                <h3 class="block-title">امروز ثبت نام کنید و از مزایای عضویت بهره مند شوید.</h3>
                                <ul class="list-check">
                                    <li>سفارش آنلاین</li>
                                    <li>مشاهده ی پیشنهادات ویژه </li>
                                    <li>لیست مورد پسند</li>
                                    <li>دریافت اخبار منحصر به فرد و خرید سفارشی</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-theme btn-theme-dark btn-create" onclick="return NewAccount()">حساب کاربری جدید</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </section>
    <!-- /PAGE -->



</div>
@Scripts.Render("~/bundles/omd/jquery2")
<script>
    $(document).ready(function () {
        var cookie = getCookie("OMD_Active");

        if (cookie != "") {

            PostJson = {
                'Token': cookie
            };

            $.ajax({
                url: '/API_Functions/DecryptOMD',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var token = JSON.parse(response);
                    if (token.Status == "Active") {
                        $('#NewAcc').hide();
                        $('#Log').hide();
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                    result = "";
                }
            });

        }
        
    });
</script>